/* Header layout */
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.site-logo img {
    max-height: 80px;
    width: 200px;;
}

/* Menu desktop */
.main-navigation .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;

ul { display: flex;}
li { margin: 0 20px; }
}



/* Menu mobile */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
    .main-navigation {
        display: none;
        flex-direction: column;
        gap: 10px;
    }
    .main-navigation.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
}
